<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatRoomApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false) <!-- 渲染 Styles 區段 -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand" href="/">ChatRoomApp</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <!-- 此處刪除了登入登出的程式碼 -->
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; 2024 - ChatRoomApp</p>
    </footer>
     <!-- 渲染 Scripts 區段 -->
    @RenderSection("Scripts", required: false)
</body>
</html>
